{%verbatim%}

<script id="my-template" type="x-tmpl-mustache">

  <br>      
  <h4 class="center red-text"> Add Tags You Are Interested In!</h4>

    <form action="" id='my_tags_form' method="POST">

	<div class="section white">
	  <div class="row">
	  <div class="container">

		    <div class="col s12">
		    	<div class="col s4">
		      		<p>Tags: </p>				
					<p>
				      <input class="with-gap" name="tag" value="$" type="checkbox" id="men"  />
				      <label for="men">Men</label>
				    </p>
					<p>
				      <input class="with-gap" name="tag" value="$$" type="checkbox" id="women"  />
				      <label for="women">Women</label>
				    </p>
				    <p>
				      <input class="with-gap" name="tag" value="$$$" type="checkbox" id="coed"  />
				      <label for="coed">Coed</label>
				    </p>
				    <p>
				      <input class="with-gap" name="tag" value="$$$$" type="checkbox" id="21+"  />
				      <label for="21+">21+</label>
				    </p><br>
				</div>

		    	<div class="col s4">
					<p>
				      <input class="with-gap" name="tag" value="sports" type="checkbox" id="sports"  />
				      <label for="sports">Sports</label>
				    </p>
					<p>
				      <input class="with-gap" name="tag" value="event" type="checkbox" id="event"  />
				      <label for="event">Event</label>
				    </p>
				    <p>
				      <input class="with-gap" name="tag" value="auction" type="checkbox" id="auction"  />
				      <label for="auction">Auction</label>
				    </p>
				    <p>
				      <input class="with-gap" name="tag" value="fundraiser" type="checkbox" id="fundraiser"  />
				      <label for="fundraiser">Fundraiser</label>
				    </p><br>
				</div>

		    	<div class="col s4">
					<p>
				      <input class="with-gap" name="tag" value="indoors" type="checkbox" id="indoors"  />
				      <label for="indoors">Indoors</label>
				    </p>
					<p>
				      <input class="with-gap" name="tag" value="outdoors" type="checkbox" id="outdoors"  />
				      <label for="outdoors">Outdoors</label>
				    </p>
				    <p>
				      <input class="with-gap" name="tag" value="free" type="checkbox" id="free"  />
				      <label for="free">Free</label>
				    </p> <br>
				</div>

			</div>
		</div>

    	<div class="row">
		<div class="container">
			<div class="col s4"><p></p></div>
			<div class="col s4">	
				<br><br>
				<button class="btn waves-effect red waves-light" type="submit" name="action">Submit
				    <i class="material-icons right">send</i>
			    </button>
			    <br>
			</div>
			<div class="col s4"><p></p></div>
		</div>
		</div>

    </form>

	</script>
{%endverbatim%}